<body>
    <h1>Welcome to the About Us section</h1>

    <div class="bibliografia">
        <p class="paragraph1"> The University of Santander (UDES), located in the picturesque city of Cúcuta, in the heart of the department of Norte de Santander,
            stands out as a bastion of educational excellence in the region. With a rich history and an undeniable commitment to academic quality, UDES has established its reputation as a leading institution in the training of highly skilled professionals
             dedicated to the progress of society. Its innovative programs, highly qualified faculty, and focus on research and development have made UDES a first-class educational option for students from the region and beyond. The university takes pride
              in its dedication to preparing the leaders of tomorrow and contributing significantly to the cultural, social, and economic growth of Cúcuta and Norte de Santander.</p>

             <p class="paragraph2">
                Its conformed by Edgar Parada, Sebastian Jerez, Danny Escalante and Jaider Rodriguez.
             </p>

    </div>
</body>
