<div class="main">
  <footer style="font-family: Verdana, Geneva, Tahoma, sans-serif;">

    <p>&copy; WEB RACERS  | ¡Esperamos que puedas acompañarnos en nuestro proyecto!  | 2023</p>
    <div class="social">
        <a class="social-icons" href="https://www.instagram.com/" target="_blank"><img src="
            https://fitappwebsite.neocities.org/Pictures/instagram.png
            " alt="instagram" class="borders"></a>

        <a class="social-icons" href="https://www.facebook.com/" target="_blank"><img src="
            https://fitappwebsite.neocities.org/Pictures/facebook.png
            " alt="facebook" class="borders"> </a>

        <a class="social-icons" href="https://www.youtube.com/" target="_blank"><img src="
            https://fitappwebsite.neocities.org/Pictures/youtube.png
            " alt="youtube" class="borders"></a>
        </div>
  </footer>
</div>

